
    <!-- start: padder -->
<div class="pa-md">
    <div class="row">
        <div class="col-md-12">
            <!-- start: panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">Order list</h5>
                </div>
                <table class="table table-bordered table-striped" id="DataTable">

        <thead>
        <tr>
            <th ng-repeat="(k,v) in datarows[0]"><a href="">{{k}}</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in datarows">

            <td ng-repeat="(k,v) in row">{{v}}</td>

            <td>
                <div class="toolbar">
                    <a href="" class="btn btn-sm btn-default"><span class="fa fa-file-o"></span></a>
                    <a href="" class="btn btn-sm btn-default"><span class="fa fa-trash-o"></span></a>
                </div>
            </td>
        </tr>
        </tbody>
                </table>
            </div>
            <!-- start: panel -->
        </div>
    </div>
</div>
<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('#DataTable').DataTable();-->
    <!--});-->
<!--</script>-->
