<!-- start page header -->
<div class="page-header ng-scope">
    <div class="box-layout">
        <div class="row">
                <div class="col-xs-6">
                        <label>Filter by factory
                            <multi-select
                                    input-model="FactoryList"
                                    output-model="resultData"
                                    button-label="icon name"
                                    item-label="icon name maker"
                                    tick-property="ticked"
                                    max-labels="2">
                            </multi-select>
                        </label>
                        <label>Filter by order status
                             <multi-select
                                    input-model="status_list"
                                    output-model="resultData"
                                    button-label="icon name"
                                    item-label="icon name maker"
                                    tick-property="ticked"
                                    max-labels="2">
                             </multi-select>
                        </label>
                </div>
                <div class="col-xs-6">
                    <label>Choose payment date:</label>
                    <p class="input-group">
                        <input class="form-control" type="date" data-ng-model="min" placeholder="from">
                        <input class="form-control" type="date" data-ng-model="max" placeholder="from">
                    </p>
                </div>
        </div>
    </div>
</div>
<!--/ end page header -->