<div class="page-header">
    <div class="box-layout">
        <div class="row mb-xs">
            <div class="col-sm-3">
                <span class="label label-success">Complete</span>
                <span class="label label-warning">In process</span>
                <span class="label label-danger">In Complete</span>
                <span class="label label-info">On Hold</span>
                <span class="label label-primary">Others</span>
            </div>
            <div class="col-md-9">
                <div class="pull-right">
                    <div class="btn btn-warning"><i class="fa fa-check"></i> Send to Factory</div>
                    <div class="btn btn-info"><i class="fa fa-plus"></i> Make Payment</div>
                    <div class="btn btn-default" ng-click="back()"><i class="fa fa-ban"></i> Cancel</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-md">
    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab heading="Info">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default border-n mt-20">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <tbody>
                                            <tr>
                                                <td>Factory</td>
                                                <td>{{order.factory.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Type</td>
                                                <td>
                                                    <select class="form-control" ng-model="order.type" ng-options="row.name for row in msk">
                                                        <option value="">-- Choose type --</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Orderred total
                                                </td>
                                                <td>
                                                    {{order.order.orderedTotal}} {{order.currency.ISOCode}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Paid total
                                                </td>
                                                <td>
                                                    {{order.order.paidTotal}} {{order.currency.ISOCode}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Create date</td>
                                                <td>{{order.order.createDate|date:'medium'}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                           <!-- <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">Striped Row</div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                            <tr>
                                                <td>Norman Harmon</td>
                                                <td>
                                                    <label>
                                                        <multi-select
                                                                input-model="test_list"
                                                                output-model="resultData"
                                                                button-label="icon name"
                                                                item-label="icon name maker"
                                                                tick-property="ticked"
                                                                max-labels="2">
                                                        </multi-select>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Plato Pickett</td>
                                                <td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Nathan Paul</td>
                                                <td><div class="radio custom">
                                                    <label>
                                                        <input type="radio" name="group2" value=""><span></span> Apr 5, 2015
                                                    </label>
                                                </div>
                                                    <div class="radio custom">
                                                        <label>
                                                            <input type="radio" name="group2" value=""><span></span> Feb 4, 2013
                                                        </label>
                                                    </div>
                                                    <div class="radio custom disabled">
                                                        <label>
                                                            <input type="radio" value="" disabled><span></span> Option two is disabled
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Nasim Larson</td>
                                                <td>
                                                    <div class="checkbox custom-info">
                                                        <label>
                                                            <input type="checkbox">
                                                            <span></span>$11.28
                                                        </label>
                                                    </div>
                                                    <div class="checkbox custom-info">
                                                        <label>
                                                            <input type="checkbox">
                                                            <span></span>$60.18
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" readonly="">
                                                        <span class="btn btn-default btn-file" data-flow-btn=""><i class="fa fa-folder-open"></i>
                                                            <input type="file" name="files[]" id="js-upload-files" multiple>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </tab>
                <tab heading="Products">Short Labeled Justified content</tab>
                <tab heading="Cargo">Long Labeled Justified content</tab>
</tabset>
</div>
        </div>
    </div>