<div class="page-header">
    <div class="box-layout">
        <div class="row mb-xs">
            <div class="col-sm-3">
                <span ng-bind-html="statusTemplates[order.order.status]"></span>
            </div>
            <div class="col-md-9">
                <div class="pull-right">

                        <input id="uploader" type="file" file-input="files" style="display: none" multiple/>

                    <div class="btn btn-success" ng-click="upload()">Upload</div>
                    <div class="btn btn-warning" ng-click="sendToFactory()" ng-disabled="order.order.status==1">
                        <i class="fa fa-check" ng-hide="order.order.status==1"></i>
                        Send to Factory
                    </div>
                    <div class="btn btn-info" ng-click="makePayment()"><i class="fa fa-plus"></i> Make Payment</div>
                    <div class="btn btn-default" ng-click="cancel()" ng-disabled="orderFlag"><i class="fa fa-ban"></i> Cancel</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <li ng-repeat="file in files">
                {{file.name}}

                <button ng-click="removeFiles(file.name)" class="btn btn-link">
                    <i class="fa fa-remove"></i>
                </button>
            </li>
        </div>
    </div>
</div>
        <div class="container-fluid pt-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default border-n mt-20">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Factory</td>
                                                    <td>{{order.factory.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Type</td>
                                                    <td>
                                                        {{currentType.name||type.name}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Ordered total
                                                    </td>
                                                    <td>
                                                        <!--<span ng-show="order.order.type != 1">{{order.order.orderedTotal}}</span>-->
                                                        <input numbers-only ng-disabled="order.order.type != 0" tooltip="press ENTER to save" class="form-control sm" style="float:left" type="text" ng-keyup="totalUpdate(order.order.orderedTotal)" ng-model="order.order.orderedTotal"/>
                                                        <div style="padding:7px">{{order.currency.ISOCode}}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Paid total
                                                    </td>
                                                    <td ng-click="showPayment()">
                                                       {{order.order.paidTotal}}{{order.currency.ISOCode}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Create date</td>
                                                    <td>{{order.order.createDate|date:'medium'}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Delivery date</td>
                                                    <td>{{order.order.deliveryDate}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Cargo</td>
                                                    <td>
                                                        <ul class="list-inline" ng-if="cargo==array">
                                                            <li ng-repeat="item in cargo">
                                                                #<a href=""  ng-click="goToCargo(item.cargo.id)">{{item.cargo.id}}</a>;
                                                            </li>
                                                        </ul>
                                                        <span ng-if="cargo!=array">&mdash;</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="column in tableHeader">{{column.title}}</th>
                    <th ng-hide="orderFlag"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in orderProducts track by $index" >
                    <td>{{$index+1}}</td>
                    <td>
                        <img ng-show="item.product.preview[1]" ng-src="http://back95.ru/f/catalogue/{{item.product.id}}/{{item.product.preview[1]}}"/>
                        <img style="width:100px" ng-hide="item.product.preview[1]" ng-src="http://compass/files/factory/attachments/{{item.product.tmpPhotos[0]}}"/>

                    </td>
                    <td>{{item.product.articul}}</td>
                    <td>{{item.product.factoryArticul}}</td>
                    <td>{{item.product.title}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.price}}</td>
                    <!--<td class="col-lg-1">
                        <input ng-show="order.order.type == 1" numbers-only class="form-control" type="text" ng-model="productModel.count" ng-init="productModel.count= item.count" tooltip="press ENTER to save" ng-keyup="saveProduct($event,item,productModel)">
                    </td>
                    <td class="col-lg-1">
                        <input ng-show="order.order.type == 1" numbers-only class="form-control" type="text" ng-model="productModel.price" ng-init="productModel.price= item.price" tooltip="press ENTER to save" ng-keyup="saveProduct($event,item,productModel)">
                    </td>-->
                    <td>
                        {{productModel.count *productModel.price||0}}
                    </td>
                    <td ng-hide="orderFlag">
                        <button class="btn-default" ng-click="deleteProduct($index)">
                            <i class="fa fa-ban"></i>
                        </button>
                    </td>

                </tr>
            <tr>
                <td>TOTAL</td>
                <td colspan="3">
                    <h5>count: {{totalCount}}</h5>
                </td>
                <td colspan="5">
                    <h5>price: {{totalPrice}}</h5>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>