<div class="page-header">
    <div class="box-layout">
        <div class="row mb-xs">
            <div class="col-sm-3">
                <span ng-bind-html="statusTemplates[order.order.status]"></span>
            </div>
            <div class="col-md-9">
                <div class="pull-right">
                    <div class="btn btn-warning" ng-click="sendToFactory()"><i class="fa fa-check"></i> Send to Factory</div>
                    <div class="btn btn-info" ng-click="makePayment()"><i class="fa fa-plus"></i> Make Payment</div>
                    <div class="btn btn-default" ng-click="back()"><i class="fa fa-ban"></i> Cancel</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-md">
    <div class="row">
        <div class="col-md-12">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default border-n mt-20">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered">
                                            <tbody>
                                            <tr>
                                                <td>Factory</td>
                                                <td>{{order.factory.name}}</td>
                                            </tr>
                                            <tr>
                                                <td>Type</td>
                                                <td>
                                                    {{currentType.name}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Orderred total
                                                </td>
                                                <td>
                                                    {{order.order.orderedTotal}} {{order.currency.ISOCode}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Paid total
                                                </td>
                                                <td ng-click="showPayment()">
                                                   {{order.order.paidTotal}}{{order.currency.ISOCode}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Create date</td>
                                                <td>{{order.order.createDate|date:'medium'}}</td>
                                            </tr>
                                            <tr>
                                                <td>Cargo</td>
                                                <td>
                                                    <ul class="list-inline" ng-if="cargo==array">
                                                        <li ng-repeat="item in cargo">
                                                            #<a href=""  ng-click="goToCargo(item.cargo.id)">{{item.cargo.id}}</a>;
                                                        </li>
                                                    </ul>
                                                    <span ng-if="cargo!=array">&mdash;</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="column in tableHeader">{{column.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key,value) in orderProducts track by $index">
                    <td>{{$index+1}}</td>
                    <td>
                        <img ng-src="http://back95.ru/f/catalogue/{{value.id}}/{{value.preview[1]}}"/>

                    </td>
                    <td>{{value.articul}}</td>
                    <td>{{value.title}}</td>
                    <td>{{value.sizes}}</td>
                    <td>{{value.sizes_count}}</td>
                    <td>{{value.price}}</td>
                    <td ng-if="value.sizes_count!=undefined">{{value.sizes_count*value.price}}</td>
                    <td ng-if="value.sizes_count==undefined">{{value.price}}</td>
                </tr>
            <tr>
                <td>TOTAL</td>
                <td colspan="3">
                    <h5 ng-if="totalCount==number">count: {{totalCount}}</h5>
                    <h5 ng-if="totalCount!=number">count: 0</h5>
                </td>
                <td colspan="5">
                    <h5>price: {{totalPrice}}</h5>
                </td>
            </tr>
            </tbody>
        </table>



        </div>
    </div>