<div>
    <!--header-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
    </div>
    <div class="modal-body">
        <button class="btn btn-success" ng-show="factoryFlag" ng-click="createNewFactory()"><i class="fa fa-plus"></i>Create new</button>
        <form>
            <autocomplete
                    input-model="allFactories"
                    output-model="factory"
                    column="columnHeaders"
                    imagepath="imagePath"
                    filter-property="filterProperty"
                    ></autocomplete>
        </form>
    </div>
    <!--footer-->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="chooseFactory(factory)">Choose</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>
</div>