<!--header-->
<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New order</h4>
</div>
<div class="modal-body">
    <form>
        <p class="input-group">
            <label class="control-label">Change factory</label>
            <autocomplete input-model="Factory" output-model="newOrder.factory"></autocomplete>
                <span class="input-group-btn autocomplete_btn">
                 <button type="button" class="btn btn-default"  ng-click="new_factory()">+</button>
                </span>
        </p>
        <div class="form-group">
            <label class="control-label">Amount</label>
            <input class="form-control" type="number" ng-model="newOrder.amount">
        </div>
        <div class="form-group">
            <label class="control-label">Msk</label>
            <select class="form-control" data-ng-model="newOrder.msk"
                    ng-options="opt as opt.name for opt in msk">
                <option value="">Choose type</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" type="file" onchange="angular.element(this).scope().filesChanged(this)" multiple/>
        </div>

        <div class="form-group">
            <li ng-repeat="file in newOrder.files">{{file.name}}</li>
        </div>
    </form>
    <p class="text-muted">Accept only *.jpg and *.png files</p>
</div>
<!--footer-->
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close(newOrder)">OK</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
