<!--header-->
<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">New order</h4>
</div>
<!--body-->
<div class="modal-body">
    <form>
        <div class="form-group">
        <input class="form-control" type="text" ng-model="newOrder.name" placeholder="order name"/>
        </div>
        <div class="form-group">
        <select class="form-control" ng-model="newOrder.factory"
                ng-options="opt as opt.name for opt in Factory">
        </select>
        </div>
        <div class="form-group">
        <input class="form-control" type="file" onchange="angular.element(this).scope().filesChanged(this)" multiple/>
        </div>
        <table>
            <tr>
                <td>
                    Change factory
                </td>
                <td>
                    <autocomplete input-model="Factory" output-model="newOrder.factory"></autocomplete>
                </td>
                <td><button class="btn-default" ng-click="new_factory()">+</button></td>
            </tr>
            <tr>
                <td>Amount</td>
                <td><input type="number" ng-model="newOrder.amount"></td>
                <td></td>
            </tr>
            <tr>
                <td>Add files</td>
                <td><input type="file" onchange="angular.element(this).scope().filesChanged(this)" multiple/></td>
                <td></td>
            </tr>
            <tr>
                <td>Msk</td>
                <td><select data-ng-model="newOrder.msk"
                    ng-options="opt as opt.name for opt in msk">
                </select></td>
                <td></td>
            </tr>
        </table>


        <div class="form-group">
            <button type="button" class="btn btn-success" ng-click="saveOrder()"><span class="fa fa-upload"></span>Upload</button>
            <li ng-repeat="file in newOrder.files">{{file.name}}</li>
        </div>


        <ul>
            <li ng-repeat="file in newOrder.files">{{file.name}}</li>
        </ul>


    </form>
    <p class="text-muted">Accept only *.jpg and *.png files</p>
</div>
<!--footer-->
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="$close(newOrder)">Save changes</button>
</div>