<div class="modal-header">
        <h3>New Factory</h3>
</div>
<div class="modal-body">
    <form>
        <table>
            <tr>
                <td>Please enter factory name&nbsp;</td>
                <td><input class="form-control" type="text" data-ng-model="newFactory.name"></td>
            </tr>
        </table>
    </form>
</div>

<!--footer-->
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close(newFactory)">save</button>
    <button type="button" class="btn btn-default" ng-click="$close()">return</button>
</div>