<div class="page-header">
    <div class="box-layout">
        <div class="row mb-xs">
            <div class="col-md-1 col-sm-1 mb-5">
                <div class="btn btn-info"><i class="fa fa-plus"></i> Add order</div>
            </div>
            <div class="col-md-5 col-sm-5 mb-5">
                <div class="checkbox custom pt-xs">
                    <label><input type="checkbox" value=""><span></span> Show all</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pa-md">

    <div class="row">
        <div class="col-md-12">
            <!-- start panel -->
            <div class="panel panel-default">
                <table class="table table-bordered table-hover dataTable no-footer" id="DataTable">
                    <thead>
                    <tr>
                        <th> # </th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Factory</a></th>
                        <th></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Created</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Delivery date</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Invoices</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Order total (&#165;)</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Paid (&#165;)</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Received (&#165;)</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Notes</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Actions</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span class="btn btn-default btn-rounded btn-sm">3</span>
                        </td>
                        <td>
                            <h5 class="text-muted fw-sb">Other: Новый обувщик</h5>
                            <hr>
                            <p class="mb-0 fw-sb">Ph. 13798040818</p>
                        </td>
                        <td>
                            <a href="/assets/images/avatar/avatar11.jpg" class="thumbnail img_sm" target="_blank">
                                <img src="/assets/images/avatar/avatar11.jpg"/>
                            </a>
                        </td>
                        <td>
                            <p>23 Feb 2014</p>
                        </td>
                        <td>
                            <p>26 Feb 2014</p>
                        </td>
                        <td>
                                    <span class="thumbnail media-left">
                                        <a href="/assets/images/avatar/avatar12.jpg" target="_blank">
                                            <img src="/assets/images/avatar/avatar12.jpg"/>
                                        </a>
                                    </span>
                                    <span class="thumbnail media-left">
                                        <a href="/assets/images/avatar/avatar14.jpg" target="_blank">
                                            <img src="/assets/images/avatar/avatar14.jpg"/>
                                        </a>
                                    </span>
                        </td>
                        <td>
                            <p class="text-right">51200</p>
                            <p class="text-muted text-right">Prepayment: 1200</p>
                        </td>
                        <td>
                            <p class="fw-sb text-right">51200</p>
                            <p class="text-muted text-right">+50000 (26.02.2014 bank)</p>
                            <p class="text-muted text-right">+1200 (Prepayment cash)</p>
                        </td>
                        <td>
                            <p class="text-right">0</p>
                        </td>
                        <td>
                            <p class="text-right">Order canceled - wait for money back</p>
                            <p class="text-muted text-right-sm">Changed: 26.03.2014 19:53</p>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-rounded btn-sm"><i class="fa fa-calendar"></i></button>
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i class="fa fa-ban"></i></button>
                            <button type="button" class="btn btn-success btn-rounded btn-sm">&#165;</button>
                            <button type="button" class="btn btn-danger btn-rounded btn-sm">&#165;</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="btn btn-default btn-rounded btn-sm">3</span>
                        </td>
                        <td>
                            <h5 class="text-muted fw-sb">Other</h5>
                            <hr>
                            <p class="mb-0 fw-sb">Ph. 13798040818</p>
                            <p class="mb-0 fw-sb">Ph. 15217472638</p>
                        </td>
                        <td>
                            <a href="/assets/images/avatar/avatar10.jpg" class="thumbnail img_sm" target="_blank">
                                <img src="/assets/images/avatar/avatar10.jpg"/>
                            </a>
                        </td>
                        <td>
                            <p>23 Feb 2014</p>
                        </td>
                        <td>
                            <p>26 Feb 2014</p>
                        </td>
                        <td>
                                    <span class="thumbnail media-left">
                                        <a href="/assets/images/avatar/avatar13.jpg" target="_blank">
                                            <img src="/assets/images/avatar/avatar13.jpg"/>
                                        </a>
                                    </span>
                        </td>
                        <td>
                            <p class="text-right">51200</p>
                            <p class="text-muted text-right">Prepayment: 1200</p>
                        </td>
                        <td>
                            <p class="fw-sb text-right">51200</p>
                            <p class="text-muted text-right">+50000 (26.02.2014 bank)</p>
                            <p class="text-muted text-right">+1200 (Prepayment cash)</p>
                        </td>
                        <td>
                            <p class="text-right">0</p>
                        </td>
                        <td>
                            <p class="text-right">Order canceled - wait for money back</p>
                            <p class="text-muted text-right-sm">Changed: 26.03.2014 19:53</p>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-rounded btn-sm"><i class="fa fa-calendar"></i></button>
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i class="fa fa-ban"></i></button>
                            <button type="button" class="btn btn-success btn-rounded btn-sm">&#165;</button>
                            <button type="button" class="btn btn-danger btn-rounded btn-sm">&#165;</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


