<div ng-controller='CargoItemsController'>
    <!--header-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">

        <div class="table-responsive">
            <p>

            </p>
            <table class="table table-hover">
                <tbody>
               <!-- <tr>
                    <td>
                        <p class="form-inline">
                            <label class="control-label">cargoId</label>
                            <input class="sm form-control pull-right" type="hidden" numbers-only ng-model="create_product.cargoId" >
                        </p>
                    </td>
                </tr>-->
               <!-- <tr>
                    <td>
                        <p class="form-inline">
                            <label class="control-label">articul</label>
                            <input class="sm form-control pull-right" type="hidden" numbers-only ng-model="create_product.articul" >
                        </p>
                    </td>
                </tr>-->
                <tr>
                    <td>
                        <p class="form-inline">
                            <label class="control-label">Factory articul</label>
                            <input class="sm form-control pull-right" type="text" numbers-only ng-model="create_product.factory_articul">
                        </p>
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        <p class="form-inline">
                            <label class="control-label">Count</label>
                            <input class="sm form-control pull-right" type="hidden" numbers-only ng-model="create_product.count">
                        </p>
                    </td>
                </tr>-->
                <!--<tr>
                    <td>
                        <p class="form-inline">
                            <label class="control-label">Size</label>
                            <select class="form-control" data-ng-model="create_product.new_size"
                                    ng-options="opt as opt.name for opt in all_sizes">
                                <option value="">Choose size</option>
                            </select>
                        </p>
                    </td>
                </tr>-->
                <tr>
                    <td>
                        <p class="form-inline">
                            <label class="control-label">Price</label>
                            <input class="sm form-control pull-right" type="text" numbers-only ng-model="create_product.price">
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--footer-->
    <div class="modal-footer">

        <button type="button" class="btn btn-primary" ng-click="create(create_product)"><span class="fa fa-check"> Create</span></button>
        <button type="button" class="btn btn-danger" ng-click="$close()"><span class="fa fa-times"> Cancel</span></button>
    </div>
</div>