<div class="page-header ng-scope">
    <div class="box-layout">
        <div class="col-sm-6 va-m">
            <h1>Orders</h1>
        </div>
        <div class="col-sm-6 va-m">
            <ol class="breadcrumb pull-right-sm mb-0">
                <li><a href="#">Buying office</a></li>
                <li class="active">Orders</li>
            </ol>
        </div>
    </div>
</div>

<widgtoolbar></widgtoolbar>

<widgtable datarows="orders" edit="edit_row()" row="row"></widgtable>

<widgmodal></widgmodal>
