<div class="autocomplete_widget input-group">
    <input type='text' placeholder='{{placeholder}}' ng-model='search' id="autocomplete"/>

<div ng-hide="flag" class="autocomplete_box">

    <table class="table table-bordered bg-white table-hover" id="autocomplete_table">
        <!--header-->
        <tr ng-if="column!=undefined">
            <th>#</th>
            <th ng-repeat="col in column">{{col.title||col.name}}</th>
        </tr>
        <!--body-->
        <!--<tr ng-repeat="row in inputModel | filter:filters | orderBy:'name'" ng-click='getRow(row)'>-->
        <tr ng-repeat="row in inputModel | tableFilter : search : filterProperty | orderBy:'name' track by $index" ng-click='getRow(row)'>

            <td> <span class="btn btn-default btn-rounded btn-sm">{{$index+1}}</span></td>
            <td ng-if="column!=undefined " ng-repeat="col in column">

                <table ng-if="col.name=='phone'">

                    <tr ng-repeat="phone in row.phone">
                        <td>{{phone}}</td>
                    </tr>

                </table>

                <table ng-if="col.name=='address'">
                    <tr><td>country: </td><td><b>{{row.address.country}}</b></td></tr>
                    <tr><td>region: </td><td><b>{{row.address.region}}</b></td></tr>
                    <tr><td>city: </td><td><b>{{row.address.city}}</b></td></tr>
                    <tr><td>address: </td><td><b>{{row.address.address}}</b></td></tr>

                </table>

                <table ng-if="col.name=='preview'">

                    <tr ng-repeat="img in row.preview">
                        <td>
                            <span class="thumbnail media-left">

                                     <img ng-src="{{imagepath}}{{img}}"/>

                            </span>
                         <!-- <span class="thumbnail img_sm">
                              <img ng-src="{{imagepath}}{{img}}"/>
                          </span>-->
                        </td>
                    </tr>

                </table>


                <span ng-if="col.name!='phone' && col.name!='preview' && col.name!='address'">
                    {{row[col.name]}}
                </span>

            </td>
            <td ng-if="column==undefined">{{row}}</td>
        </tr>
        <!--end body-->
    </table>

</div>

</div>