<!-- start padder -->
<div class="pa-md">

    <div class="row">
        <div class="col-md-12">
            <!-- start panel -->
            <div class="panel panel-default">
                <div class="panel-heading" ng-show="caption">
                    <h5 class="panel-title">{{caption}}</h5>
                </div>
                <div class="dataTables_wrapper form-inline no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <div class="dataTables_filter">
                                    <label>Search:<input type="search"  ng-model="searchText" class="" placeholder=""></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped dataTable no-footer" id="DataTable">
                        <thead>
                        <tr ng-show="dataheader">
                            <th> # </th>
                            <th class="sorting" ng-repeat="headerRow in dataheader"
                                ng-click="sortReorder(headerRow.name, $event)"
                                ng-class="{'sort-asc':headerRow.sort>0,'sort-desc':headerRow.sort<0}"><a href="">{{headerRow.title}}</a>
                            </th>
                            <th ng-repeat="th in toolbarButtons"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in datarows | filter:searchText | orderByEx:dataheader:sortBy() ">
                            <td>{{$index+1}}</td>
                            <td ng-repeat="headerRow in dataheader" ng-click="edit_row(row)">
                                {{row[headerRow.name]}}
                            </td>
                            <td ng-repeat="b in toolbarButtons">
                                <button class={{b.class}} ng-click="buttons(row,b.value)">{{b.value}}</button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- start panel -->
        </div>
    </div>
</div>