<div class="page-header">
    <div class="box-layout">
        <div class="row mb-xs">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="btn btn-success" ng-click="upload();payment.payment.status=1" ng-disabled="payment.payment.status!=0"><i class="fa fa-plus" ng-hide="payment.payment.status==1"></i> Confirm</div>
                    <div class="btn btn-danger" ng-click="upload();payment.payment.status=2" ng-disabled="payment.payment.status!=0"><i class="fa fa-remove" ng-hide="payment.payment.status==2"></i> Cancel </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-md">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-pane active">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default border-n mt-20">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <tbody>
                                    <tr>
                                        <td>Method</td>
                                        <td>
                                            {{payment.payment.paymentMethod}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td>{{payment.payment.paymentType}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Ordered total
                                        </td>
                                        <td>
                                            {{payment.document.orderedTotal}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Paid total
                                        </td>
                                        <td>
                                            {{payment.document.paidTotal}} {{payment.currency.ISOCode}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Amount</td>
                                        <td>
                                            <!--{{payment.payment.amount}}-->
                                            <input type="text" class="form-control sm" style="float:left" numbers-only ng-model="payment.payment.amount" tooltip="enter amount"/>
                                            <div style="padding:7px">
                                                {{payment.currency.ISOCode}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Create date</td>
                                        <td>{{payment.payment.paymentDate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Note</td>
                                        <td>{{payment.payment.note}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>