<div class="page-header">
    <div class="box-layout">
        <div class="row mb-xs">
            <div class="col-sm-3">
                <div class="btn btn-info" ng-click="addNewPayment()"><i class="fa fa-plus"></i> New payment</div>
                <!--<div class="btn btn-default" ng-hide="userType!='admin'" ng-click="addNewCashOffice()"><i class="fa fa-plus"></i> New cashier office</div>-->
            </div>
            <div class="col-sm-5">
                <div class="col-sm-4 va-m">
                    <input date-range-picker class="form-control date-picker" placeholder="Select date range" type="text"
                           ng-model="filter.createDate" ng-change="filteredPayments(filter)"/>
                </div>
            </div>
            <!--<div class=" col-sm-2">
                <multi-select
                        default-label="Status filter"
                        input-model="status"
                        output-model="resultData.status"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        max-labels="1"
                        max-height="250px"
                        >
                </multi-select>
            </div>
            <div class=" col-sm-2">
                <multi-select
                        default-label="CashierOffice filter"
                        input-model="cashierOfficies"
                        output-model="resultData.cashierOffice"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        max-labels="1"
                        max-height="250px"
                        >
                </multi-select>
            </div>
            <div class=" col-sm-2">
                <multi-select
                        default-label="Type filter"
                        input-model="paymentType"
                        output-model="resultData.type"
                        button-label="icon name"
                        item-label="icon name maker"
                        tick-property="ticked"
                        max-labels="1"
                        selection-mode="single"
                        >
                </multi-select>
            </div>-->
        </div>

    </div>
</div>
<div class="col-sm-12 col-md-12" >

    <div class="pa-md" ng-show="draftPayments">
        <h3 style="margin-bottom:10px;">Draft payments:</h3>

        <div class="row">
            <div class="col-sm-2 col-md-2 col-bt-2" ng-repeat="item in draftPayments">
                <div class="panel panel-body">
                    <!--<ul class="row_collection">
                        <li ng-repeat="file in item.factoryFiles" class="img-wrapper" ng-if="$index<2">

                            <img ng-src="{{imagePath}}{{file.path}}"/>

                        </li>
                    </ul>-->
                    <div>
                        <div>{{item.payment.amount}}&nbsp{{item.currency.ISOCode}}</div>
                        <p class="caption">{{item.factory.name}}&nbsp;&nbsp;<span class="date">{{item.payment.paymentDate}}</span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<hr>
<div ng-show="paidPayments">
<h3 style="margin:0 0 0 40px;">Paid payments:</h3>

<widget-table
        datarows="paidPayments"
        dataheader="tableHeader"
        edit="edit()"
        row="row"
        >
</widget-table>
</div>