<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss(reason)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
</div>
<div class="modal-body">
    <div ng-if="payment.type=='payment'">
        <input type="radio" ng-model="payment.method" value="payment"/><label>Payment for order</label><br>
        <input type="radio" ng-model="payment.method" value="other"/>Other payments
    </div>
    <div ng-if="payment.type=='refund'">
        <input type="radio" ng-model="payment.method" value="refund"/>Refund for order<br>
        <input type="radio" ng-model="payment.method" value="other"/>Other payments
    </div>
    <autocomplete
            input-model="orders"
            output-model="payment.order"
            column="columnHeaders"
            placeholder="Order number"
            filter-property="filterProperty"
            ng-show="payment.method=='payment' || payment.method=='refund'"
            ></autocomplete>
    <br>
    <label>Amount:</label>
    <input type="text" data-ng-model="payment.amount" class="form-control"/>

    <label>Note:</label>
    <textarea ng-model="payment.note" class="form-control" style="resize:none"></textarea>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="create(payment)">Create</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>