<!-- start container -->
<div class="row" ng-controller="BsAlertCtrl">
        <div class="col-xs-6">
            <!--<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
            <!--<button class='btn btn-success' data-ng-click="addAlert()"><span class="fa fa-plus"></span> Add Alert</button>-->
            <div class="alert ng-isolate-scope alert-success alert-dismissable " type="success" close="closeAlert($index)">
                <button type="button" class="close" ng-click="close()">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <span class="ng-binding ng-scope">Well done! You successfully read this important alert message.</span>
            </div>
        </div>
    <div class="container-fluid">
        <div class="col-xs-6"><p class="mb-0 text-right">Copyright RedUmbrella</p></div>
    </div>
</div>
<!--/ end container -->