.fc {
    border:1px solid #ddd;
    border-right-width: 0;
    height:180px!important;
    float:left!important;
    text-align: left;
    font-size: 1em;
}

.panel.fullcalendar hr,
.fc-header {
    background: #eee;
}

.fc-day-grid-event {
    margin: 1px 2px 0;
    padding: 0 1px;
}

.fc-day-grid-event > .fc-content {
    white-space: nowrap;
    overflow: hidden;
}
.panel.fullcalendar {
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.fc-widget-header {
    border-width: 0;
    text-align:center;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:1px solid #ddd;
    padding: 8px 0;
    background-color: #fdfdfe!important;
}

.fc-header {
    background-color: transparent !important;
    padding: 6px 12px;
}
.fc-event {
    padding: 4px 10px;
    display: block;
    font-size: 16px;
    border-radius: 2px;
    background-color: #f9fafc;
    color: #364c63;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    line-height: 1.3;
    font-weight: normal;
}
.fc-event .fc-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fc-event:after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    bottom: -1px;
    width: 5px;
    background-color: #2196f3;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.fc-event:hover,
.fc-event:active,
.fc-event:focus {
    color: #243342;
}
.fc-event-danger:after {
    background-color: #f44336;
}
.fc-event-warning:after {
    background-color: #fdd835;
}
.fc-event-success:after {
    background-color: #4caf50;
}

