<!-- start box layout -->
<div class="box-layout">
    <div class="col-md-12 bdr-l bg-auto height-auto">

        <!-- start page header -->
        <div class="page-header">
            <!-- basic info heading -->
            <div class="box-layout">
                <div class="col-sm-12 va-m">
                    <h4>Dolce & Gabbana (69543)</h4>
                    <p class="text-muted mb-0">Other: Обувщик</p>
                </div>
            </div>
            <!--/ basic info heading -->
        </div>
        <!--/ end page header -->


        <div class="container-fluid pt-md pb-md">
            <div class="row">
                <div class="col-sm-1 col-md-1">
                    <!-- thumbnail -->
                    <div class="thumbnail">
                        <img src="/assets/images/avatar/avatar9.jpg">
                    </div>
                    <!--/ thumbnail -->
                </div>
                <div class="col-sm-1 col-md-1">
                    <!-- thumbnail -->
                    <div class="thumbnail">
                        <img src="/assets/images/avatar/avatar18.jpg">
                    </div>
                    <!--/ thumbnail -->
                </div>
                <div class="col-sm-1 col-md-1">
                    <!-- thumbnail -->
                    <div class="thumbnail">
                        <img src="/assets/images/avatar/avatar9.jpg">
                    </div>
                    <!--/ thumbnail -->
                </div>
                <div class="col-sm-1 col-md-1">
                    <!-- thumbnail -->
                    <div class="thumbnail">
                        <img src="/assets/images/avatar/avatar18.jpg">
                    </div>
                    <!--/ thumbnail -->
                </div>
                <div class="col-sm-1 col-md-1">
                    <!-- thumbnail -->
                    <div class="thumbnail">
                        <img src="/assets/images/avatar/avatar6.jpg">
                    </div>
                    <!--/ thumbnail -->
                </div>
                <div class="col-sm-1 col-md-1">
                    <!-- thumbnail -->
                    <div class="thumbnail">
                        <img src="/assets/images/avatar/avatar9.jpg">
                    </div>
                    <!--/ thumbnail -->
                </div>
                <div class="col-sm-1 col-md-1">
                    <!-- thumbnail -->
                    <div class="thumbnail">
                        <img src="/assets/images/avatar/avatar18.jpg">
                    </div>
                    <!--/ thumbnail -->
                </div>
            </div>
            <div class="row">
                <!-- question widget -->
                <div class="col-sm-12 col-md-12">
                    <div class="panel box-layout ovf-h">
                        <div class="col-md-4 bdr-r-md va-m">
                            <div class="panel panel-default border-n mt-20">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <td>Total sales speed:</td>
                                            <td>6356</td>
                                        </tr>
                                        <tr>
                                            <td>Average discount (retail / wholesale):</td>
                                            <td>
                                                37% / 47%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Size chart
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-default"><span class="fa fa-plus"> 10</span></button>
                                                <button type="submit" class="btn btn-default"><span class="fa fa-plus"> 20</span></button>
                                                <button type="submit" class="btn btn-default"><span class="fa fa-plus"> 30</span></button>
                                                <button type="submit" class="btn btn-default"><span class="fa fa-plus"> 50</span></button>
                                                <button type="submit" class="btn btn-default"><span class="fa fa-plus"> 100</span></button>
                                                <button type="submit" class="btn btn-default"><span class="fa fa-plus"> 200</span></button>
                                                <button type="submit" class="btn btn-default"><span class="fa fa-plus"> 500</span></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 va-m">
                            <div class="pa-md">
                                <form role="form">
                                    <div class="form-group">
                                        <label class="control-label">Notes</label>
                                        <textarea class="form-control" placeholder="" rows="3"></textarea>
                                    </div>
                                    <hr class="mnr-md mnl-md">
                                    <div class="form-group">
                                        <label class="switch switch-sm switch-success">
                                            <input type="checkbox" checked="">
                                            <span class="switch"></span><span class="text ml-xs">All products</span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="pa-md">
                                <button type="submit" class="btn btn-success"><span class="fa fa-plus"> Save</span></button>
                                <button type="submit" class="btn btn-success" ng-click="addNewItems()"><span class="fa fa-file-o"> PDF</span></button>
                                <button type="submit" class="btn btn-info" ng-click="sendShipment()"><span class="fa fa-check"> Send</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ question widget -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <widget-table
                        datarows="cartProduct"
                        dataheader="tableHeader"
                        edit="edit()"
                        row="row"
                        toolbar-buttons="buttonsCart"
                        button-action="buttonAction()"
                        >
                </widget-table>
            </div>
            <div class="col-md-6">
                <widget-table
                        datarows="logOperations"
                        dataheader="tableHeaderLogOperations"
                        edit="edit()"
                        row="row"
                        >
                </widget-table>
                <widget-table
                        datarows="historyCart"
                        dataheader="tableHeaderHistoryCart"
                        edit="edit()"
                        row="row"
                        >
                </widget-table>
            </div>
        </div>
    </div>
</div>
<!--/ end box layout -->
</div>