<div>
    <!--header-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please, type the articul</h4>
    </div>
    <div class="modal-body">
        <form>
            {{calendar}}
            <p class="input-group" ng-show="addToCalendar">
                <input type="text" class="form-control" datepicker-popup="{{format}}" min-date="minDate" ng-model="buyingDate" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <angucomplete id="articul"
                          placeholder="Search by articul"
                          pause="400"
                          selectedobject="products"
                          url="{{searchUri}}"
                          minlength="4"
                          titlefield="articul,title,brand"
                          descriptionfield="articul,title,brand"
                          imagefield="preview"
                          inputclass="form-control form-control-small"/>
            <span class="input-group-btn autocomplete_btn">
            </span>
        </form>
    </div>
    <!--footer-->
    <div class="modal-footer">
        <button type="button" class="btn btn-green" data-ng-controller="BestsellersOrderedController" ng-click="createBestseller(products, buyingDate)">Create</button>
        <button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
    </div>
</div>