<!-- start box-layout -->
<div class="box-layout" ng-controller="DatepickerCtrl">
    <div  class="col-md-9 bg-white height-auto">
        <div class="scroll">
            <!-- start page header -->
            <div class="page-header clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <span class="fc-header-title"><h2>2013</h2></span>
                    </div>
                </div>
            </div>
            <!--/ end page header -->

            <!-- start panel -->
            <div class="panel fullcalendar">


                <div class="ng-pristine ng-untouched ng-valid ng-isolate-scope fc fc-ltr fc-unthemed">



                    <div class="fc-view fc-month-view fc-basic-view">
                        <table>
                            <thead>
                            <tr>
                                <td class="fc-widget-header">

                                    <div class="fc-row fc-widget-header">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th class="fc-day-header fc-widget-header fc-sun">January
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-mon">February
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-tue">March
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-wed">April
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-thu">May
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-fri">June
                                                </th>
                                            </tr></thead>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="fc-widget-content">

                                    <div class="fc-day-grid-container">

                                        <div class="fc-day-grid">

                                            <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 143px;">

                                                <div class="fc-bg">
                                                    <table><tbody>
                                                    <tr>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">6</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-event-warning fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">56</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-event-success fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">543</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">234</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-event-danger fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">765</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">422</span></div></a>
                                                        </td>
                                                    </tr></tbody>
                                                    </table>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr></tbody>
                        </table>
                        <table>
                            <thead>
                            <tr>
                                <td class="fc-widget-header">

                                    <div class="fc-row fc-widget-header">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th class="fc-day-header fc-widget-header fc-sun">July
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-mon">August
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-tue">September
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-wed">October
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-thu">November
                                                </th>
                                                <th class="fc-day-header fc-widget-header fc-fri">December
                                                </th>
                                            </tr></thead>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="fc-widget-content">

                                    <div class="fc-day-grid-container">

                                        <div class="fc-day-grid">

                                            <div class="fc-row fc-week fc-widget-content fc-rigid" style="height: 143px;">

                                                <div class="fc-bg">
                                                    <table><tbody>
                                                    <tr>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">6</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-event-warning fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">56</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-event-success fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">543</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">234</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-event-danger fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">765</span></div></a>
                                                        </td>
                                                        <td class="fc-day fc-day-number fc-widget-content fc-wed fc-past">
                                                            <a class="fc-day-grid-event fc-event fc-start fc-end fc-draggable">
                                                                <div class="fc-content"><span class="fc-title">422</span></div></a>
                                                        </td>
                                                    </tr></tbody>
                                                    </table>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr></tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- end: panel -->
        </div>
    </div>
    <div  class="col-md-3 bg-auto height-auto bdr-l-md bdr-b-sm bdr-b-xs" ng-controller="BestsellerCartController">
        <div class="scroll">
            <!-- start page header -->
            <div class="page-header clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-sm">April 2014</h3>
                    </div>
                </div>
                <p class="input-group">
                    <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                       <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <!--/ end page header -->
            <div class="pa-md">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title text-center">
                            <h5 class="fw-sb">Ordered</h5>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr ng-repeat="row in summaryCart" ng-click="edit(row)">

                            <td ng-repeat="(k,v) in row">
                                <img src="{{row.a_photo}}" class="img-sm" ng-if="k=='a_photo'">
                                <div ng-if="k!='a_photo'">{{v}}</div>
                            </td>
                        </tr>
                        <!--<tr>
                            <td class="text-center">
                                <div class="media np">
                                    <div class="media-left">
                                      <span class="img-wrapper img-rounded">
                                        <img src="/assets/images/avatar/avatar9.jpg">
                                      </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="media-body media-middle">
                                    <h5 class="media-heading mb-0 fw-sb"><a href="">92003</a></h5>
                                </div>
                            </td>
                            <td class="text-center">
                                S
                            </td>
                            <td class="text-center">
                                3x
                            </td>
                            <td class="text-center">
                                100
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <div class="media np">
                                    <div class="media-left">
                                      <span class="img-wrapper img-rounded">
                                        <img src="/assets/images/avatar/avatar9.jpg">
                                      </span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="media-body media-middle">
                                    <h5 class="media-heading mb-0 fw-sb"><a href="">92003</a></h5>
                                </div>
                            </td>
                            <td class="text-center">
                                M
                            </td>
                            <td class="text-center">
                                2x
                            </td>
                            <td class="text-center">
                                300
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title text-center">
                            <h5 class="fw-sb">Total</h5>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td>
                                <img class="img-sm" src="/assets/images/avatar/avatar9.jpg">
                            </td>
                            <td class="text-center">
                                <div class="media-body media-middle">
                                    <h5 class="media-heading mb-0 fw-sb"><a href="">92003</a></h5>
                                </div>
                            </td>
                            <td class="text-center">
                                Signal
                            </td>
                            <td class="text-center">
                                234
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-sm" src="/assets/images/avatar/avatar9.jpg">
                            </td>
                            <td class="text-center">
                                <div class="media-body media-middle">
                                    <h5 class="media-heading mb-0 fw-sb"><a href="">92003</a></h5>
                                </div>
                            </td>
                            <td class="text-center">
                                Signal
                            </td>
                            <td class="text-center">
                                234
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img class="img-sm" src="/assets/images/avatar/avatar9.jpg">
                            </td>
                            <td class="text-center">
                                <div class="media-body media-middle">
                                    <h5 class="media-heading mb-0 fw-sb"><a href="">92003</a></h5>
                                </div>
                            </td>
                            <td class="text-center">
                                Signal
                            </td>
                            <td class="text-center">
                                234
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <form role="form">
                    <div class="form-group">
                        <label class="control-label">Coments</label>
                        <textarea class="form-control" placeholder="" rows="3"></textarea>
                    </div>
                    <hr class="mnr-md mnl-md">
                    <div class="form-group">
                        <label class="switch switch-sm switch-success">
                            <input type="checkbox" checked="">
                            <span class="switch"></span><span class="text ml-xs">All products</span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/ end box-layout -->