<!-- start box layout -->
<form>
<div class="box-layout">
    <div class="col-md-12 bdr-l bg-auto height-auto">

        <!-- start page header -->
        <div class="page-header">
            <!-- basic info heading -->
            <div class="box-layout">
                <div class="col-sm-12">
                    <div ng-show="bestseller.orderId && order.status == 0" class="btn btn-info" ng-click="saveBestseller()"><i class="fa fa-plus"></i> Save</div>
                    <button ng-show="bestseller.orderId" class="btn btn-info" ng-click="createPdf()"><span class="fa fa-file-o"> Create PDF</span></button>
                    <button ng-show="bestseller.orderId" class="btn btn-success" ng-click="openOrder(order)"><span class="fa"> Open order</span></button>
                    <button ng-hide="bestseller.orderId" type="submit" class="btn btn-success" ng-click="createOrder(sizes)"><span class="fa fa-check"> Create order</span></button>
                </div>
            </div>
            <!--/ basic info heading -->
        </div>
        <!--/ end page header -->

        <div class="container-fluid">
            <div class="pa-md">
                <div class="row">
                <div class="col-md-6">
                    <div class="col-md-6" ng-repeat="photo in product.photos">
                        <!-- thumbnail -->
                        <a href="http://back95.ru/f/catalogue/{{product.id}}/{{photo}}" target="_blank">
                            <img src="http://back95.ru/f/p400x400/catalogue/{{product.id}}/{{photo}}" class="photos_gallery"/>
                        </a>
                        <!--/ thumbnail -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td>Factory:</td>
                                    <td>{{factory.name}}</td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td>{{bestseller.status}}</td>
                                </tr>
                                <tr>
                                    <td>Total sales speed:</td>
                                    <td>{{product.saleSpeed}}</td>
                                </tr>
                                <tr>
                                    <td>Average discount (retail / wholesale):</td>
                                    <td>
                                        {{product.marketing.discount.retail | number:0}}% / {{product.marketing.discount.wholesale | number:0}}%
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pa-md">
                            <form role="form" class="ng-pristine ng-valid">
                                <form role="form">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Add notes to product" rows="3" ng-keyup="updateNotes(notes,$event)" ng-model="notes"></textarea>
                                    </div>
                                </form>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-body">
                        <div ng-hide="bestseller.status>0">
                            <h3 class="mb-sm ng-binding">Size chart to order <span ng-show="order.id">(#{{order.id}})</span></h3>
                            <table class="table">
                                <tr>
                                    <th>Size</th>
                                    <th>Count</th>
                                    <th>Sale speed</th>
                                    <th>Sales (customers)</th>
                                    <th>Returns, %</th>
                                </tr>
                                <tr ng-repeat="(size, sizeData) in sizes">
                                    <td>
                                        <span ng-show="sizeData.hide">{{sizeData.size}}</span>
                                        <input type="hidden" ng-model="sizeData.size"/>
                                        <input ng-hide="sizeData.hide" type="text" ng-model="sizeData.size" size="6"/>
                                    </td>
                                    <td><input type="text" ng-model="sizeData.count" size="3" value="2"/></td>
                                    <td>{{sizeData.saleSpeed | number:0}}</td>
                                    <td>{{sizeData.sales}} ({{sizeData.customers}})</td>
                                    <td>{{sizeData.returns / sizeData.sales * 100 | number:0}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="panel panel-body">
                        <h3 class="mb-sm ng-binding">Buying history <i class="fa fa-toggle-on pull-right"></i></h3>
                        <table class="table">
                            <tr>
                                <th>Buying date</th>
                                <th>Order</th>
                                <th>Sizes = Count</th>
                                <th>Notes</th>
                                <th>Status</th>
                            </tr>
                            <tr ng-repeat="item in bestsellerHistory">
                                {{item}}
                                <td>
                                    <b>
                                        <a ng-href="/buyer/bestsellers/item/{{item.id}}" target="_blank">{{item.orderDate}}</a>
                                    </b>
                                </td>
                                <td><a ng-href="/buyer/orders/id/{{item.orderId}}">{{item.orderId}}</a></td>
                                <td>
                                    <!--<div ng-repeat="(size, count) in data.sizes">-->
                                    <div ng-if="item.size!=undefined && item.count!=undefined">
                                        {{item.size}}   = <b>{{item.count}}</b>
                                    </div>
                                    <div ng-if="item.size==undefined || item.count==undefined">
                                        {{item.size}}  <b>{{item.count}}</b>
                                    </div>
                                </td>
                                <td>{{item.notes}}</td>
                                <td>{{item.status}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="panel panel-body">
                    <!--Old History-->
                        <div ng-hide="product.buyingHistory.buying==undefined">
                            <h3 class="mb-sm ng-binding">Buying history (old) <i class="fa fa-toggle-off pull-right"></i></h3>
                            <table class="table" ng-hide="product.buyingHistory.buying==undefined">
                                <tr>
                                    <th>Buying date</th>
                                    <th>Sizes = Count</th>
                                    <th>Notes</th>
                                    <th>Status</th>
                                </tr>
                                <tr ng-repeat="(date, data) in product.buyingHistory.buying">
                                    <td>
                                        <a href="http://back95.com/buyer/re_buying/item_details/{{product.id}}/{{data.buyingId}}" target="_blank">{{date}}</a>
                                    </td>
                                    <td>
                                        <div ng-repeat="(size, count) in data.sizes">
                                            {{size}}=<b>{{count}}</b>
                                        </div>
                                    </td>
                                    <td>{{data.notes}}</td>
                                    <td>{{data.status}}</td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>

            </div>
            </div>
        </div>

    </div>
</div>
<!--/ end box layout -->
</div>
</form>