
<div class="page-header">
    <button type="button" class="btn btn-default">Vip</button>
    <button type="button" class="btn btn-info">Other</button>
</div>

<!-- start box layout -->
<div class="box-layout">
    <div class="col-md-12 bdr-l bg-auto height-auto">

        <!-- start page header -->
        <div class="page-header">
            <div class="box-layout">
                <div class="col-sm-3 va-m">
                    <h4>Other: Очки</h4>
                    <p class="text-muted mb-0">Phones: 13128222878, 15815899046, 1325963189</p>
                </div>
                <div class="col-sm-9 va-m">
                    <div class="thumbnail img_sm pull-left">
                        <img src="/assets/images/avatar/avatar9.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!--/ end page header -->

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover dataTable no-footer" id="DataTable">
                    <thead>
                    <tr>
                        <th> # </th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Photo</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Name</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Articul</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Vendor articul</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Order</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Approximate date of shipment</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Functions</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span>1</span>
                        </td>
                        <td>
                            <a href="/assets/images/avatar/avatar16.jpg" class="thumbnail img_sm" target="_blank">
                                <img src="/assets/images/avatar/avatar16.jpg"/>
                            </a>
                        </td>
                        <td>
                            <p>очки Cartier</p>
                            <p>Delay 266 days</p>
                        </td>
                        <td>
                            <p>83427</p>
                        </td>
                        <td>
                            <p>6125206</p>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li>0</li>
                                <li>50</li>
                            </ul>
                            <hr>
                        </td>
                        <td>
                            <p>18 th July 2014</p>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">The requirement for more</button>
                            <button type="button" class="btn btn-info btn-rounded btn-sm"><i class="fa fa-calendar"></i></button>
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i class="fa fa-ban"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>2</span>
                        </td>
                        <td>
                            <a href="/assets/images/avatar/avatar15.jpg" class="thumbnail img_sm" target="_blank">
                                <img src="/assets/images/avatar/avatar15.jpg"/>
                            </a>
                        </td>
                        <td>
                            <p>очки Cartier</p>
                            <p>Delay 266 days</p>
                        </td>
                        <td>
                            <p>83427</p>
                        </td>
                        <td>
                            <p>6125206</p>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li>0</li>
                                <li>50</li>
                            </ul>
                            <hr>
                        </td>
                        <td>
                            <p>18 th July 2014</p>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">The requirement for more</button>
                            <button type="button" class="btn btn-info btn-rounded btn-sm"><i class="fa fa-calendar"></i></button>
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i class="fa fa-ban"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--/ end box layout -->
<!-- start box layout -->
<div class="box-layout">
    <div class="col-md-12 bdr-l bg-auto height-auto">

        <!-- start page header -->
        <div class="page-header">
            <div class="box-layout">
                <div class="col-sm-3 va-m">
                    <h4>Other: Обувь</h4>
                    <p class="text-muted mb-0">Phones: 13128222878, 15815899046, 1325963189</p>
                </div>
                <div class="col-sm-9 va-m">
                    <div class="thumbnail img_sm pull-left">
                        <img src="/assets/images/avatar/avatar17.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!--/ end page header -->

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover dataTable no-footer" id="DataTable">
                    <thead>
                    <tr>
                        <th> # </th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Photo</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Name</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Articul</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Vendor articul</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Order</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Approximate date of shipment</a></th>
                        <th class="sorting ng-scope"><a href="" class="ng-binding">Functions</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span>1</span>
                        </td>
                        <td>
                            <a href="/assets/images/avatar/avatar6.jpg" class="thumbnail img_sm" target="_blank">
                                <img src="/assets/images/avatar/avatar6.jpg"/>
                            </a>
                        </td>
                        <td>
                            <p>очки Cartier</p>
                            <p>Delay 266 days</p>
                        </td>
                        <td>
                            <p>83427</p>
                        </td>
                        <td>
                            <p>6125206</p>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li>0</li>
                                <li>50</li>
                            </ul>
                            <hr>
                        </td>
                        <td>
                            <p>18 th July 2014</p>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">The requirement for more</button>
                            <button type="button" class="btn btn-info btn-rounded btn-sm"><i class="fa fa-calendar"></i></button>
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i class="fa fa-ban"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>2</span>
                        </td>
                        <td>
                            <a href="/assets/images/avatar/avatar5.jpg" class="thumbnail img_sm" target="_blank">
                                <img src="/assets/images/avatar/avatar5.jpg"/>
                            </a>
                        </td>
                        <td>
                            <p>очки Cartier</p>
                            <p>Delay 266 days</p>
                        </td>
                        <td>
                            <p>83427</p>
                        </td>
                        <td>
                            <p>6125206</p>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li>0</li>
                                <li>50</li>
                            </ul>
                            <hr>
                        </td>
                        <td>
                            <p>18 th July 2014</p>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">The requirement for more</button>
                            <button type="button" class="btn btn-info btn-rounded btn-sm"><i class="fa fa-calendar"></i></button>
                            <button type="button" class="btn btn-danger btn-rounded btn-sm"><i class="fa fa-ban"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--/ end box layout -->