<div class="navbar-nocollapse clearfix ng-scope">

    <ul class="nav navbar-nav navbar-left">

        <li class="visible-xs" ng-init="index=0; classes=['app-sidebar', 'sidebar-open-ltr app-sidebar sidebar-left']" ng-click="index = index + 1">

            <a href="">

                <i class="ai ai-menu fs-24 pos-t-5"></i>

            </a>

        </li>

        <li class="hidden-xs" ng-click="collapsed = !collapsed">

            <a href="" ng-init="index=0; classes=['no-csstransforms3d sidebar-open-ltr app-sidebar sidebar-left', 'csstransforms3d sidebar-open-ltr app-sidebar sidebar-left-collapse sidebar-left']" ng-click="index = index + 1">

                <i class="ai fs-24 pos-t-5 ai-arrow-back" ng-class="{'ai-arrow-forward':collapsed, 'ai-arrow-back':!collapsed}"></i>

            </a>

        </li>

    </ul>

    <!--/ end left nav -->



    <!-- start navbar form -->

    <form class="navbar-form navbar-left ng-valid" name="form-search">

        <div class="form-group">

            <div class="form-control-icon form-control-icon-right">

                <input type="search" class="form-control" placeholder="Search application...">

                <span class="the-icon ai ai-search fs-18"></span>

                <a href="" class="the-icon ai ai-cancel fs-18 ng-hide"></a>

            </div>

        </div>

    </form>

    <!--/ end navbar form -->



    <!-- start right nav -->

    <ul class="nav navbar-nav navbar-right">

        <li class="hidden-sm hidden-xs">

            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Create New</button>

        </li>

        <li class="dropdown">

            <a href="">

                <span class="img-wrapper img-rounded"><img src="/assets/images/avatar/avatar19.jpg" alt=""></span>

                <span class="text fw-sb ml-xs hidden-xs">{{username}}</span>

            </a>

        </li>

        <li class="hidden-xs">

            <a ng-href="/login" ng-click="logout()"><i class="ai ai-lock fs-16 pos-t-1 mr-xs"></i> Logout</a>

        </li>

    </ul>

    <!--/ end right nav -->

</div>
