<ul class="nav nav-sidebar">
    <li class="{{item.class}}" ng-repeat="item in model" >
        <a class="nav-toggle" href="" ng-click="getMenu($event,$index)">
                         <span class="figure figure-left icon">
                         <i class="{{item.icon}}"></i>
                         </span>
            <span class="text ellipsis">{{item.title}}</span>
                         <span class="figure figure-right">
                         <span class="figure figure-right arrow"></span>
                         </span>
        </a>
        <ul id="uielements" class="nav-submenu">
            <li ng-repeat="submenu in item.menu">
                <a ng-href="/{{submenu.url}}">
                    <span class="text">{{submenu.title}}</span>
                                <span class="figure figure-right">
                                <span class="label label-success ellipsis pos-t-n-1">{{submenu.count}}</span>
                                    </span>
                </a>
            </li>
        </ul>
    </li>
</ul>