<div class="container-fluid pt-md">
    <div class="row">
        <!-- question widget -->
        <div class="col-sm-6 col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    <a href="" class="btn btn-sm btn-default mnl-xs mt-sm"><span class="fa fa-check"></span></a>
                    <a href="" class="btn btn-sm btn-default pull-right mnl-xs mt-sm" data-ng-click="isToggle = !isToggle"><span class="fa fa-bell" data-ng-class="{'fa-bell-slash':isToggle}"></span></a>
                </div>
                <div class="panel-body text-center">
                    <div class="img-wrapper img-rounded center-block mb-md" style="width:76px;">
                        <img src="/views/theme/images/avatar/avatar1.jpg" alt="">
                    </div>
                    <h4 class="fw-sb">John Mayers</h4>
                    <p class="text-muted mb-0">Graphic Designer</p>
                    <hr style="width:20%">

                    <a href="" class="fs-18 text-danger mr-sm"><span class="fa fa-dribbble"></span></a>
                    <a href="" class="fs-18 text-primary mr-sm"><span class="fa fa-facebook"></span></a>
                    <a href="" class="fs-18 text-info"><span class="fa fa-twitter "></span></a>
                </div>
            </div>
        </div>
        <!--/ question widget -->

        <!-- grid widget -->
        <div class="col-sm-6 col-md-3">
            <div class="panel">
                <div class="panel-body">
                    <div class="media np">
                        <div class="media-left">
              <span class="img-wrapper img-rounded">
                <img src="/views/theme/images/avatar/avatar9.jpg">
              </span>
                        </div>
                        <div class="media-body media-middle">
                            <h5 class="media-heading mb-0 fw-sb"><a href="">New Specifications</a></h5>
                        </div>
                    </div>
                </div>
                <div class="bdr-t bdr-b pa-md">
                    <span class="fw-sb text-muted">Project: </span> Marketing Materials
                </div>
                <div class="panel-body">
                    <blockquote class="mb-0"><p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut..</p></blockquote>
                </div>
            </div>
        </div>
        <!--/ grid widget -->

        <!-- grid widget -->
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <h5 class="fw-sb">My Settings</h5>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <div class="pa-md">
                                <a href="" class="text-danger"><span class="fa fa-dribbble fs-32"></span></a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="pa-md">
                                <a href="" class="text-info"><span class="fa fa-twitter fs-32"></span></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="pa-md">
                                <a href="" class="text-primary"><span class="fa fa-tumblr fs-32"></span></a>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="pa-md">
                                <a href="" class="text-success"><span class="fa fa-git fs-32"></span></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fa fa-signal mr-md"></span>Signal
                        <label class="switch switch-sm switch-success pull-right">
                            <input type="checkbox">
                            <span class="switch"></span>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-volume-up mr-md"></span>Earphone
                        <label class="switch switch-sm switch-success pull-right">
                            <input type="checkbox">
                            <span class="switch"></span>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-location-arrow mr-md"></span>Location
                        <label class="switch switch-sm switch-success pull-right">
                            <input type="checkbox" checked="">
                            <span class="switch"></span>
                        </label>
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-rebel mr-md"></span>Ghost mode
                        <label class="switch switch-sm switch-success pull-right">
                            <input type="checkbox">
                            <span class="switch"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <!--/ grid widget -->

        <!-- reservation widget -->
        <div class="col-sm-6 col-md-3">
            <div class="panel">
                <div class="panel-body text-center">
                    <span class="fa fa-flask fs-38 mb-md"></span>
                    <h3 class="fw-t">Chemistry Club</h3>
                </div>
                <div class="panel-body text-center">
                    <p class="mb-xs">
                        <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="/views/theme/images/avatar/avatar1.jpg" alt=""></span>
                        <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="/views/theme/images/avatar/avatar2.jpg" alt=""></span>
                        <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="/views/theme/images/avatar/avatar3.jpg" alt=""></span>
                        <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="/views/theme/images/avatar/avatar4.jpg" alt=""></span>
                    </p>
                    <p class="mb-0">
                        <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="/views/theme/images/avatar/avatar5.jpg" alt=""></span>
                        <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="/views/theme/images/avatar/avatar6.jpg" alt=""></span>
                        <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="/views/theme/images/avatar/avatar7.jpg" alt=""></span>
                        <span class="img-wrapper img-rounded disp-ib" style="width:36px"><img src="/views/theme/images/avatar/avatar8.jpg" alt=""></span>
                    </p>
                    <p class="text-muted mb-0 mt-md">6+ People Like This Place</p>
                </div>
                <div class="panel-body bdr-t text-center">
                    <a href="" class="btn btn-success">MAKE RESERVATION</a>
                </div>
            </div>
        </div>
        <!--/ reservation widget -->
    </div>
</div>