<div class="page-header">
    <button type="submit" ng-disabled="cargo.status > 0" class="btn btn-success" ng-click="chooseOrder()"><span class="fa fa-plus"> Add products</span></button>
    <button type="submit" ng-disabled="cargo.status > 0 || products.length == 0" class="btn btn-success" ng-click="sendCargo()"><span class="fa fa-check"> Send cargo</span></button>
    <button type="submit" ng-disabled="cargo.status > 0" class="btn btn-danger" ng-click="cargoCancel()"><span class="fa fa-times"> Cancel</span></button>
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary"><span class="fa fa-file-o">Print</span></button>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Screen</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

</div>

<div class="container-fluid pt-md pb-md">
    <div class="row">
        <div class="col-md-6">
            <!-- start panel -->
            <div class="panel panel-default border-n mt-20">
                <!-- start table responsive -->
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <input type="hidden" ng-model="cargo.id">
                        <input type="hidden" ng-init="cargo.employeeId = 99">
                        <tbody>
                        <tr>
                            <td>Factory</td>
                            <td>{{ factory.name }}</td>
                        </tr>
                        <tr>
                            <td>Total amount</td>
                            <td>{{totalAmount}} &nbsp;&yen;</td>
                        </tr>
                        <tr>
                            <td>Cargo company</td>
                            <td>{{cargo.logisticCompany.name}}</td>
                        </tr>
                        <tr>
                            <td>Cargo document</td>
                            <td>{{cargo.document}}</td>
                        </tr>
                        <tr>
                            <td>Insurance</td>
                            <td>{{cargo.insurance}} &yen;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--/ end table responsive -->
            </div>
            <!--/ end panel -->
        </div>

        <div class="col-md-6">
            <!-- start panel -->
            <div class="panel panel-default border-n mt-20">
                <!-- start table responsive -->
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        <tr>
                            <td>Weight shipped</td>
                            <td>
                                {{ cargo.incomeWeight }}&nbsp;kg
                            </td>
                        </tr>
                        <tr>
                            <td>Places shipped</td>
                            <td>
                                {{ cargo.incomePlaces }}
                            </td>
                        </tr>
                        <tr>
                            <td>Weight arrived</td>
                            <td>
                                {{cargo.arriveWeight}}&nbsp;kg
                            </td>
                        </tr>
                        <tr>
                            <td>Places arrived</td>
                            <td>
                                {{ cargo.arrivePlaces }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--/ end table responsive -->
            </div>
            <!--/ end panel -->
        </div>
    </div>
</div>

<widget-table
        datarows="products"
        dataheader="productsTableHeader"
        edit="edit()"
        row="row"
        toolbar-battons="buttons"
        button-action="buttonAction()"
        >
</widget-table>
