<div class="page-header">
    <button type="submit" ng-disabled="cargo.status > 0" ng-click="saveCargo()" class="btn btn-info"><span class="fa fa-check"> Save</span></button>
    <button type="submit" ng-disabled="cargo.status > 0" class="btn btn-success" ng-click="chooseOrder()"><span class="fa fa-plus"> Add products</span></button>
    <button type="submit" ng-disabled="products.length == 0" class="btn btn-success" ng-click="sendShipment()"><span class="fa fa-check"> Send cargo</span></button>
    <button type="submit" ng-disabled="cargo.status > 0" class="btn btn-danger" ng-click="cargoCancel()"><span class="fa fa-times"> Cancel</span></button>
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary"><span class="fa fa-file-o">Print</span></button>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Screen</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

</div>

<div class="container-fluid pt-md pb-md">
    <div class="row">
        <div class="col-md-6">
            <!-- start panel -->
            <div class="panel panel-default border-n mt-20">
                <!-- start table responsive -->
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <input type="hidden" ng-model="cargo.id">
                        <input type="hidden" ng-init="cargo.employeeId = 99">
                        <tbody>
                        <tr>
                            <td>Factory</td>
                            <td ng-init="cargo.factoryId = cart.factory.id">{{ factory.name }}</td>
                        </tr>
                        <tr>
                            <td>Total amount</td>
                            <td>
                                {{totalAmount}} &nbsp;&yen;
                            </td>
                        </tr>
                        <tr>
                            <td>Cargo company</td>
                            <td><p class="form-inline">
                                <select class="form-control" ng-model="cargo.logisticCompanyId"
                                        ng-options="opt.value as opt.label for opt in logistic_companies">
                                    <option value="">Choose company</option>
                                </select>
                            </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Cargo document</td>
                            <td>
                                <p class="form-inline"><input class="form-control md" placeholder="Cargo document" type="text" ng-model="cargo.document"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>Insurance</td>
                            <td>
                                <p class="form-inline"><input class="form-control sm" type="text" ng-model="cargo.insurance"> &yen;</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--/ end table responsive -->
            </div>
            <!--/ end panel -->
        </div>

        <div class="col-md-6">
            <!-- start panel -->
            <div class="panel panel-default border-n mt-20">
                <!-- start table responsive -->
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        <tr>
                            <td>Weight shipped</td>
                            <td>
                                <p class="form-inline">
                                    <input class="form-control sm" type="text" numbers-only ng-model="cargo.arriveWeight">&nbsp;kg
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Places shipped</td>
                            <td>
                                <p class="form-inline">
                                    <input class="form-control sm" type="text" numbers-only ng-model="cargo.arrivePlaces" value="{{ cargo.arrivePlaces }}">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Weight income</td>
                            <td>
                                <p class="form-inline">
                                    <input class="form-control sm" type="text" numbers-only ng-model="cargo.incomeWeight" value="{{ cargo.incomeWeight }}">&nbsp;kg
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Places income</td>
                            <td>
                                <p class="form-inline">
                                    <input class="form-control sm" type="text" numbers-only ng-model="cargo.incomePlaces" value="{{ cargo.incomePlaces }}">
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--/ end table responsive -->
            </div>
            <!--/ end panel -->
        </div>
    </div>
</div>

<widget-table
        datarows="products"
        dataheader="productsTableHeader"
        edit="edit()"
        row="row"
        toolbar-battons="buttons"
        button-action="buttonAction()"
        >
</widget-table>
