<div class="page-header">
    <button type="submit" class="btn btn-info"><span class="fa fa-check"> Save</span></button>
    <button type="submit" class="btn btn-success" ng-click="addNewItems()"><span class="fa fa-plus"> Add products</span></button>
    <button type="submit" class="btn btn-success" ng-click="sendShipment()"><span class="fa fa-check"> Send cargo</span></button>
    <button type="submit" class="btn btn-danger"><span class="fa fa-times"> Cancel</span></button>
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary"><span class="fa fa-file-o"> Print</span></button>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">All</a></li>
            <li><a href="#">Screen</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

</div>

<div class="container-fluid pt-md pb-md">
    <div class="row">
        <div class="col-md-6">
            <!-- start panel -->
            <div class="panel panel-default border-n mt-20">
                <!-- start table responsive -->
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        <tr>
                            <td>Factory</td>
                            <td>{{ cart.factory.name }}</td>
                        </tr>
                        <tr>
                            <td>Total amount</td>
                            <td>3200 &yen;</td>
                        </tr>
                        <tr>
                            <td>Cargo company</td>
                            <td><p class="form-inline">
                                <select class="form-control" ng-model="cargo_companies"
                                        ng-options="opt as opt.name for opt in logistic_companies">
                                    <option value="">Choose company</option>
                                </select>
                            </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Cargo doc</td>
                            <td><p class="form-inline"><input class="form-control sm" type="text"></p></td>
                        </tr>
                        <tr>
                            <td>Insurance</td>
                            <td><p class="form-inline"><input class="form-control sm" type="text"></p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--/ end table responsive -->
            </div>
            <!--/ end panel -->
        </div>

        <div class="col-md-6">
            <!-- start panel -->
            <div class="panel panel-default border-n mt-20">
                <!-- start table responsive -->
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        <tr>
                            <td>Weight shipped</td>
                            <td>
                                <p class="form-inline">
                                    <input class="form-control sm" type="text">&nbsp;kg
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Places shipped</td>
                            <td>
                                <p class="form-inline">
                                    <input class="form-control sm" type="text">
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Weight income</td>
                            <td>319 kg</td>
                        </tr>
                        <tr>
                            <td>Places income</td>
                            <td>12</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--/ end table responsive -->
            </div>
            <!--/ end panel -->
        </div>
    </div>
</div>

<widget-table
        datarows="cargo_cart"
        dataheader="tableHeader"
        edit="edit()"
        row="row"
        toolbar-battons="buttons"
        button-action="buttonAction()"
        >
</widget-table>
