<div ng-show="orders.length > 0" ng-controller='CargoOrderController'>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    # Order
                </th>

                <th>

                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in factoryOrders track by $index">
                <td>
                    {{order.id}}
                </td>
                <!--<td>
                    <div class="media np">
                        <div class="media-left">
                                      <span class="img-wrapper img-rounded" style="float:left" ng-repeat="item in products[$index]|limitTo:3">
                                        <img ng-src="http://back95.ru/f/catalogue/{{item.product.id}}/{{item.product.photos[0]}}">
                                      </span>
                        </div>
                    </div>
                    <p>total {{products[$index].length}} pos..</p>
                </td>-->
                <td>
                    <button class="btn-default" ng-click="choose(order.id)">choose</button>
                </td>
            </tr>
            </tbody>

        </table>
</div>

<h3 ng-show="orders.length == 0">Sorry, there's no orders for this factory.</h3>