<div class="col-sm-11 bg-white he">
    <div class="col-sm-2">
        <button class="btn btn-default">Add cargo</button>
    </div>
    <span>Group operations:</span>
    <button class="btn btn-default" ng-click="makePayment()">Pay delivery</button>
    <button class="btn btn-default">Pay goods</button>
</div>
<table class="table bg-white">
    <tr>
        <td>Statuses:</td>
        <td></td>
    </tr>
    <tr>
        <td>Suppliers:</td>
        <td></td>
    </tr>
    <tr>
        <td>Factory:</td>
        <td></td>
    </tr>
</table>
<hr class="hr-w-2">

<table class="table bg-white">
    <thead>
        <tr>
            <th>
                <input type="checkbox" ng-model="allCheck" ng-click="selectCargos()"/>
            </th>
            <th>#</th>
            <th>Status</th>
            <th>Cargo/Transporter</th>
            <th>Factory</th>
            <th>Weight/Number of places</th>
            <th>Received weight/Numbers of places</th>
            <th>Delivery cost</th>
            <th>Delivery paid</th>
            <th>Cost of the goods</th>
            <th>Paid of the goods</th>
            <th>Cost of the received items</th>
            <th>Stored</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in cargo">
            <td>
                <input type="checkbox" ng-model="cargoCheckbox[$index]" ng-click="selectCargo(item)"/>
            </td>
            <td>
                {{item.cargo.id}}
            </td>
            <td>
                {{item.cargo.statusName}}
            </td>
            <td>
                <ul class="list-unstyled">
                    <li><h4>{{item.cargo.document}}</h4></li>
                    <li>{{item.cargo.logisticCompanyId}}</li>
                </ul>
            </td>
            <td>
                {{item.factory.name}}
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>
                        <h4>{{item.cargo.arriveWeight}} Kg</h4>
                    </li>
                    <li>{{item.cargo.arrivePlaces}} place</li>
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">
                    <li>
                        <h4>{{item.cargo.incomeWeight}} Kg</h4>
                    </li>
                    <li>{{item.cargo.incomePlaces}} place</li>
                </ul>
            </td>
            <td>$0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="border-top: 5px solid grey" >
            <td colspan="4"><h4>TOTAL:</h4></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>