<div ng-controller='CargoItemsController'>
    <!--header-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New product</h4>
    </div>
    <div class="modal-body">
        <input type="text" placeholder="Search in products" class="form-control" ng-model="new_product"/>
    </div>
    <!--footer-->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveOrder(newOrder)">Create</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>