<div ng-controller='CargoController'>
    <!--header-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change factory</h4>
    </div>
    <div class="modal-body">
        <form>
           <!-- <select data-ng-model="newCargo.factory">
                <option ng-repeat="item in  Factory">{{item.name}}</option>
            </select>-->
            <select class="form-control" data-ng-model="newCargo.factory"
                    ng-options="opt as opt.name for opt in Factory">
                <option value="">Choose factory</option>
            </select>
        </form>
    </div>
    <!--footer-->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveFactory(newCargo.factory)">Create</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>