<div ng-controller='CargoOrderProductsController'>
    <!--header-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adding custom product</h4>
    </div>
    <div class="modal-body">
        <p>First we will try to find product in database. You can search by Articul or by Factory articul as well.</p>
        <input type="text" placeholder="Search in products" class="form-control" ng-model="query"/>
    </div>
    <!--footer-->
    <div class="modal-footer">
        <button ng-submit type="button" class="btn btn-primary" ng-click="search(query)">Go</button>
        <button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
    </div>
</div>