<div ng-controller='NewCollectionController'>
    <!--header-->
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Collection</h4>
    </div>
    <div class="modal-body">
        <form>
            <select class="form-control" data-ng-model="newCollection.factories"
                    ng-options="opt as opt.name for opt in factories">
                <option value="">Choose factory</option>
            </select>
        </form>
    </div>
    <!--footer-->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="chooseFactory(newCollection.factories)">Choose</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>