<div class="row">
<div class="col-sm-12 col-md-12">
<!-- start thumbnail row -->
<div class="pa-md">
<div class="row">
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection_sm">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection_sm">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
        </ul>
        <p class="caption">Factory Hello Kitty&nbsp;&nbsp;<span class="date">2015-09-10</span></p>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection_sm">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar4.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar5.jpg"/>
            </li>
        </ul>
        <p class="caption">Siarhei&nbsp;&nbsp;<span class="date">2015-02-11</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar4.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar5.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar4.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar4.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection_sm">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection_sm">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection_sm">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-2 col-md-2 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection_sm">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
<div class="col-sm-3 col-md-3 col-bt-2">
    <div class="panel panel-body">
        <ul class="row_collection">
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar1.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar2.jpg"/>
            </li>
            <li class="thumbnail collection">
                <img src="/assets/images/avatar/avatar3.jpg"/>
            </li>
        </ul>
        <p class="caption">KIVA&nbsp;&nbsp;<span class="date">2015-05-10</span></p>
    </div>
</div>
</div>
</div>
</div>
</div>