<!-- start box layout -->
<div class="box-layout">
    <div class="col-md-12 bdr-r bg-auto height-auto">
        <!-- start page header -->
        <div class="page-header">
            <!-- basic info heading -->
            <div class="box-layout">
                <div class="col-sm-6 va-m">
                    <button class="btn btn-green" ng-click="addToOrder()" ng-disabled="isOrderedAll"><span class="fa fa-check">Add to order</span></button>
                    <button class="btn btn-red" ng-click="cancelCollection()" ng-disabled="isOrdered"><span class="fa fa-check">Delete</span></button>
                </div>
            </div>
            <!--/ basic info heading -->
        </div>
        <!--/ end page header -->
        <div class="dataTables_wrapper form-inline no-footer">
            <table class="table table-bordered table-striped dataTable no-footer" id="DataTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="headerRow in tableHeader">
                        {{headerRow.title}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in items track by $index">
                    <td>{{$index+1}}</td>
                    <td>
                        <div ng-if="product.files[0]" class="media np">
                            <div class="media-left">
                                <span class="img-wrapper img-rounded">
                                    <img ng-src="{{imagePath}}{{product.files[0].path}}" >
                                    {{imagePath}}{{product.files[0].path}}
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="md form-control" ng-model="product.catalogueProduct.articul" numbers-only value="{{product.catalogueProduct.articul}}" ng-disabled="product.inOrder"/>
                    </td>
                    <td>
                        <input type="text" class="md form-control" ng-model="product.catalogueProduct.name" value="{{product.catalogueProduct.name}}" ng-disabled="product.inOrder"/>

                    </td>
                    <td>
                        <input type="text" class="sm form-control" ng-model="product.catalogueProduct.price" value="{{product.catalogueProduct.price}}" ng-disabled="product.inOrder"/>
                         {{product.currency.ISOCode}}
                    </td>
                    <td>
                        {{product.factory.name}}
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <ul class="media-list mb-sm sm">
                                        <li ng-repeat="size in product.sizes" class="media">
                                            {{size.name}}
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul ng-if="product.sizes[0]" ng-hide="product.inOrder" class="media-list mb-sm sm">
                                        <li ng-repeat="size in product.sizes" class="media">
                                            <input type="text" class="sm form-control" ng-model="size.count" numbers-only ng-disabled="product.inOrder"/>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button class="btn btn-success" ng-click="addSize(product.catalogueProduct)" ng-hide="product.inOrder"><i class="fa fa-plus"></i> add size</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <div class="btn-group" ng-hide="product.inOrder">
                        <button class="btn btn-green" ng-click="addToOrder(product, $index)"><span class="fa fa-check">Add to order</span></button>
                        <button class="btn btn-yellow" ng-click="saveProduct(product)"><span class="fa fa-check">Save</span></button>
                        <button class="btn btn-red" ng-click="deleteProduct(product.catalogueProduct.id, $index)"><span class="fa fa-check">Delete</span></button>
                        </div>
                        <div ng-show="product.inOrder">Order ID # {{orderId}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ end box layout -->