<div class="page-header">
    <div class="box-layout">
        <div class="row mb-xs">
            <div class="col-sm-1">
                <div class="btn btn-info" ng-click="newCollection()"><i class="fa fa-plus"></i> New collection</div>
            </div>
            <div class="col-sm-5">

               <!-- <div class="col-sm-4 va-m">
                    <multi-select
                            default-label="Cargo status"
                            input-model="cargoStatus"
                            output-model="resultData.cargoStatus"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                            max-labels="2"
                            >
                    </multi-select>
                </div>-->
                <div class="col-sm-4 va-m">
                    <multi-select
                            default-label="Factory filter"
                            input-model="Factory"
                            output-model="resultData.factory"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                            max-labels="2"
                            >
                    </multi-select>
                </div>
            </div>
            <!--<div class="col-sm-5">
                <div class="col-sm-4 va-m">
                <input date-range-picker class="form-control date-picker" placeholder="Select date range" type="text"
                       ng-model="resultData.createDate" />
                </div>
            </div>-->
        </div>
    </div>
</div>

<widget-table
        datarows="collections"
        dataheader="tableHeader"
        edit="edit()"
        row="row"
        toolbar-battons="buttons"
        button-action="buttonAction()"
        >
</widget-table>