<div class="pa-md" ng-controler="UploadController">
    <table class="table">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Article</th>
            <th>Size</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in items">
            <td>
                <!--<ul id="sort1" class="sort" ng-repeat="photo in item.photo track by $index">-->
                <!--<li>-->
                <!--<img class="thumbnail sm" src={{photo}} draggable>-->
                <!--</li>-->
                <!--</ul>-->
                {{item.path}}
                <div class="media np">
                    <div class="media-left">
                                <span class="img-wrapper img-rounded">
                                    <img ng-src="{{imagePath}}{{item.path}}" >
                                </span>
                    </div>
                </div>
            </td>
            <td>
                <input class="form-control" type="text" ng-model="item.article">
            </td>
            <td>
                <input class="form-control" type="text" ng-model="item.sizes">
            </td>
            <td>
                <input class="form-control" type="number" ng-model="item.price">
            </td>
            <td align="center">
                <div class="toolbar">
                    <a href="" class="btn btn-sm btn-info" ng-click="delete($index)"><span class="fa fa-trash-o"></span></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>