<div class="pa-md">
    <table class="table">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Article</th>
            <th>Size</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <ul id="sort1" class="sort">
                    <li class="thumbnail sm">
                        <img src="/assets/images/avatar/avatar8.jpg">
                    </li>
                    <li class="thumbnail sm">
                        <img src="/assets/images/avatar/avatar7.jpg">
                    </li>
                </ul>
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
            <td>
                <input class="form-control" type="number">
            </td>
            <td align="center">
                <div class="toolbar">
                    <a href="" class="btn btn-sm btn-info"><span class="fa fa-trash-o"></span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <ul id="sort2" class="sort">
                    <li class="thumbnail sm">
                        <img src="/assets/images/avatar/avatar15.jpg">
                    </li>
                    <li class="thumbnail sm">
                        <img src="/assets/images/avatar/avatar16.jpg">
                    </li>
                </ul>
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
            <td>
                <input class="form-control" type="number">
            </td>
            <td align="center">
                <div class="toolbar">
                    <a href="" class="btn btn-sm btn-info"><span class="fa fa-trash-o"></span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <ul id="sort3" class="sort">
                    <li class="thumbnail sm">
                        <img src="/assets/images/avatar/avatar11.jpg">
                    </li>
                </ul>
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
            <td>
                <input class="form-control" type="text">
            </td>
            <td>
                <input class="form-control" type="number">
            </td>
            <td align="center">
                <div class="toolbar">
                    <a href="" class="btn btn-sm btn-info"><span class="fa fa-trash-o"></span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <ul id="sort4" class="sort">
                    <li class="thumbnail sm">
                        <img src="/assets/images/avatar/avatar18.jpg">
                    </li>
                    <li class="thumbnail sm">
                        <img src="/assets/images/avatar/avatar17.jpg">
                    </li>
                </ul>
            </td>
            <td>
                <input class="form-control" type="text"/>
            </td>
            <td>
                <input class="form-control" type="text"/>
            </td>
            <td>
                <input class="form-control" type="number"/>
            </td>
            <td align="center">
                <div class="toolbar">
                    <a href="" class="btn btn-sm btn-info"><span class="fa fa-trash-o"></span></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Buttons -->
    <hr>
    <div class="clearfix">
        <a class="btn btn-primary"><span class="fa fa-long-arrow-left"></span> Back</a>
        <button type="submit" class="btn btn-success pull-right">Finish <span class="fa fa-check"></span></button>
    </div>
    <!--/ Buttons -->
</div>