<div class="pa-md" ng-controler="UploadController">
    <table class="table">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Article</th>
            <th>Size</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td></td>
            <td>
                <button class=".btn-xs" ng-click="addArticules()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </td>
            <td>
                <button class=".btn-xs" ng-click="addSizes()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </td>
            <td>
                <button class=".btn-xs" ng-click="addPrices()" ng-hide="priceFlag">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <input ng-show="priceFlag" type="text" ng-model="commonPrice" ng-keyup="addPrices(commonPrice,$event)"/>
            </td>
        </tr>
        <tr ng-repeat="item in items">
            <td>
                <div class="media np">

                    <div class="media-left" ng-repeat="img in item.photos track by $index">

                                <span class="img-wrapper img-rounded"
                                      ui-draggable="true"
                                      ui-on-Drop="onDrop($event,$data,item.photos)"
                                      drag="img"
                                      on-drop-success="dropSuccessHandler($event,$index,item)">
                                    <img ng-src="{{imagePath}}{{img.path}}" >
                                </span>
                    </div>
                </div>
            </td>
            <td>
                <input class="form-control" type="text" numbers-only ng-model="item.article">
            </td>
            <td>
                <input class="form-control" type="text" style="text-transform: uppercase" ng-model="item.sizes" placeholder="Type size like: S,M,XL,49.. separated by comma">
            </td>
            <td>
                <input class="form-control" type="number" ng-model="item.price">
            </td>
            <td align="center">
                <div class="toolbar">
                    <a href="" class="btn btn-sm btn-info" ng-click="delete($index)"><span class="fa fa-trash-o"></span></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>