<!--
<div class="page-header">
    <div class="box-layout">
        <div class="row mb-xs">
           <div class="col-sm-1">
                <div class="btn btn-info" ng-click="newCollection()"><i class="fa fa-plus"></i> New collection</div>
            </div>
        </div>
    </div>
</div>
-->
<div class="row">

    <div class="pa-md">
        <div class="row">

            <div class="col-sm-3 col-md-3 col-bt-2" ng-repeat="item in collections" ng-click="showCart(item)">
                <div class="panel panel-body">
                    <div class="row_collection" >

                        <ul class="row_collection" ng-repeat="products in item.products ">
                            <li class="img-wrapper" ng-if="$index < 3"  ng-repeat="product in products track by $index">
                                <img style="height:100px" ng-src="{{imagePath}}{{product[0].files[0].path}}"/>
                            </li>

                        </ul>
                    </div>
                    <div>
                        <p class="caption">{{item.factoryName}}&nbsp;&nbsp;<br/><span class="date">{{item.createDate}}</span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
