<div class="pa-md" ng-controller="UploadController">
    <div class="row col-md-12 panel flow-upload mb-0">
        <div class="panel-body">
            <h4 class="mb-xs">Gallery Upload</h4>
            <hr class="mnr-md mnl-md">
            <div class="flow-drop text-center" data-flow-drop>
                <h4 class="fw-sb mb-md">Drag And Drop your file here</h4>
                <div class="clearfix mb-sm">
                            <span class="btn btn-primary" data-flow-btn ng-click="upload()">
                                <i class="fa fa-file-image-o"></i> UPLOAD IMAGES</span>
                    &nbsp;&nbsp;<i class="fw-sb text-muted">OR</i>&nbsp;&nbsp;
                    <span class="btn btn-default"><i class="fa fa-folder-open"></i> UPLOAD FOLDER</span>
                    <input type="file" id="fileUpload" file-input="photo" style="display: none"  multiple/>
                </div>
                <p class="text-muted mb-0">Accept only *.jpg and *.png files</p>
            </div>
            <!-- start thumbnail row -->
            <div class="pa-md">
                <div class="row">
                    <div class="col-sm-2 col-md-2" ng-repeat="img in photo">

                        <div class="thumbnail">
                            <img file-preview="img" style="height:120px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>