<div class="pa-md" ng-controller="UploadController">
    <!--<div class="row col-md-12 panel flow-upload mb-0">-->
    <div class="row col-md-12 panel mb-0">
        <div class="panel-body">
            <h4 class="mb-xs">Gallery Upload</h4>
            <hr class="mnr-md mnl-md">
            <div class="dropzone text-center" image-dropzone="photo" >
                <h4 class="fw-sb mb-md">Drag And Drop your file here</h4>
                <div class="clearfix mb-sm">
                    <span class="btn btn-primary" ng-click="upload()">
                           <i class="fa fa-file-image-o"></i> UPLOAD IMAGES
                    </span>

                    &nbsp;&nbsp;<i class="fw-sb text-muted">OR</i>&nbsp;&nbsp;

                    <span class="btn btn-default" ng-click="upload('true')">
                        <i class="fa fa-folder-open" ></i> UPLOAD FOLDER
                    </span>

                    <input type="file" id="fileUpload" file-input="photo" style="display: none"  multiple accept=".jpg,.png"/>
                </div>
                <p class="text-muted mb-0">Accept only *.jpg and *.png files</p>
            </div>
            <!-- start thumbnail row -->
            <div class="pa-md">
                <div class="row">
                    <div class="col-sm-2 col-md-2" ng-repeat="(key,value) in photo track by $index" >

                        <div class="thumbnail" ng-if="key!='length'&& key!='item'">
                            <!--<pre>{{key}}{{value}}</pre>-->
                           <!-- <a href="" ng-click="deleteFile(value)"><i class="fa fa-remove"></i></a>-->
                            <img file-preview="value" style="height:120px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>